<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
<h1>Movies</h1>

<div>
    <a href="/home">Home</a>
</div>
<div style="margin: 20px;">
    <h3>Movie List</h3>
    <a href="/movies/add" class="btn btn-primary" role="button">Add New Movie</a>
    <table border="1" cellpadding="10" style="width: 100%">
        <thead>
            <tr>
                <th>Movie Title</th>
                <th>Description</th>
                <th>Year of Release</th>
                <th>Duration (min)</th>
                <th>Timeframe</th>
            </tr>
        </thead>
        <tbody>
                <% for(let count = 0; count<MovieList.length;count++){%>
                <tr>
                    <td><%= MovieList[count].name %></td>
                    <td><%= MovieList[count].description %></td>
                    <td><%= MovieList[count].release %></td>
                    <td><%= MovieList[count].duration %></td>
                    <td><%= MovieList[count].timeframe %></td>
                      <td>
                        <a href="/movies/edit/<%=MovieList[count]._id%>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit</a>
                    </td>
                     <td class="text-center col-2">
                    <a href="/movies/delete/<%= MovieList[count]._id%>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete</a>
                        </td>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<%- include ./partials/footer.ejs %>